body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fffbf3;
}

.breadcrumbs {
  padding-top: 80px;
  font-size: 14px;
  margin: 15px 0;
  color: #666;
}

.breadcrumbs a {
  text-decoration: none;
  color: #24360e;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}
