.favorites-breadcrumb-wrapper {
  margin-top: 0;
}

.animals-tab .animal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  .animals-tab .animal-list > * {
    flex: 0 0 100%;
  }
}
