.steps-vertical {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 65px;
  background-color: #fffbf3;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 0 12px;
}

.step-icons {
  display: flex;
  flex-direction: row;
  align-items: ceter;
  padding: 16px 12px;
  margin: auto;
}

.icon-circle {
  background-color: #556b2f;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(139, 69, 19, 0.1);
  margin-bottom: 12px;
  font-size: 36px;
  color: #fffbf3;
}

.step-number {
  background-color: #f0cfb8;
  color: #fffbf3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  user-select: none;
}

.step-text {
  display: flex;
  flex-direction: column;
  align-items: ceter;
  padding: 0 12px;
}

.step h3 {
  margin: 0 0 8px;
  font-size: 20px;
  color: #8b4513;
}

.step p {
  margin: 0;
  font-size: 14px;
  color: #556b2f;
  line-height: 1.4;
}
